    main{
        margin-left: 35%;
        padding: 0px 10px;
    }
    .sidenav {
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFAF1;
    overflow-x: hidden;
    padding-top: 40px
    }

    .sidenav a {
        font-family: Noto sans-serif SC, sans-serif;
        padding-left: 30px;
        text-decoration: none;
        text-align: center;
        font-size: 25px;
        color: #000000;
        display: inline;
    }

    .sidenav h1 {
        padding: 5px;
        text-align:left;
        font-size: 50px;
        color: #000000;
    }
    .sidenav article{
        color: #000000;
        float: right;
        padding-left: 10px;
        font-size: 20px;
    }
    .sidenav a:hover {
        color: #f1f1f1
     }
