body {
    font-family: "Lato", sans-serif
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 20px
}

    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block
    }

        .sidenav a:hover {
            color: #f1f1f1
        }
.jf-logo a {
    display: inline-block;
    text-align: center;
    background: #F4F4E6;
    padding: .5em .8em;
    color: #d3d3d3;
    letter-spacing: 10px;
    padding-right: .3em
}